*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.galery_one{
    
    width: 50vw;
    height: 40vh;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#cf {
    position:relative;
    height: 100%;
    width: 100%;
}
  
#cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

@keyframes animacao {
    0% { opacity:1; }
    45% { opacity:1; }
    55% { opacity:0; }
    100% { opacity:0; }
}
  
#cf img.top {
    animation-name: animacao;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}
