body {
    background-color: rgb(212, 213, 217);
}

h1 {
    color: rgb(202, 119, 72);
}

p{
    color: rgb(254, 96, 85);
    font-size: 20px;
}

h2{
    color: rgb(22, 76, 100);
}

#casa {
    color: green;
    font-size: 20px;
}


.abacaxi {
    color: red;
    font-size: 20px;
}

h4[letra="a"] {
    color: blueviolet;
    font-size: 20px;
}

/* div{
    text-align: center;
} */

button:hover{
    color: greenyellow;
    font-size: 20px;
}

a:visited{
    color: red;
    font-size: 20px;
} 

a:hover{
    color: limegreen;
    font-size: 20px;
}

a:active{
    color: orange;
    font-size: 20px;
} 

.pseudo::before{
    content: ">>>";
    color: aqua;
    background: cornflowerblue;
}

div h3{
    color:brown;
    font-size: 20px;
}

div > span{
    color: chocolate;
    font-size: 20px;
}

p + h5{
    color: green;
    font-size: 20px;
}

p ~ h6{
    color: violet;
    font-size: 20px;
}